a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

main {
  background: transparent;
  min-width: 320px;
}
